.routine {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
    color: #666;
    display: flex;
    height: 80px;
    margin-bottom: 16px;
}

.routine h1 {
    margin: 0;
}

.routine h2 {
    font-size: 90%;
    margin: 0;
}

.routine h2 .icon {
    margin-right: 4px;
}

.routine-data {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    justify-content: center;
    padding: 8px;
}

.routine-type {
    align-items: center;
    background-color: red;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    width: 80px;
}

.routine-type-morning {
    background-color: #fffd54;
    color: orange;
}

.routine-type-nap {
    background-color: #fd7e14;
    color: #fff;
}

.routine-type-bedtime {
    background-color: #540d6e;
    color: yellow;
}

.past {
    opacity: .6;
}

.routine a {
    display: contents;
}
